[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
notebook = "*"
openai = "*"
elasticsearch = "*"
requests = "*"
pandas = "*"
scikit-learn = "*"
transformers = "*"
tiktoken = "*"
sentence-transformers = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.10"
